/* src/app/login/login.component.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5; /* A light background */
}

.login-card {
  width: 75%;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 500;
}

.header p {
  margin: 5px 0 0 0;
  font-size: 1em;
  opacity: 0.8;
}

.login-form {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style the Google Sign-In button if necessary */
asl-google-signin-button {
  margin-top: 20px;
}
